<div class="table-responsive">
    <table class="table table-borderless" cellSpacing="2">
        <thead class="mb-3">
            <tr>
                <th class="poor"><img src="../../../assets/bad.png" width="25px" alt=""> Poor (11)</th>
                <th class="fair"><img src="../../../assets/avg.png" width="25px" alt=""> Fair (11)</th>
                <th class="average"><img src="../../../assets/avg.png" width="25px" alt=""> Average (11)</th>
                <th class="good"><img src="../../../assets/happy.png" width="25px" alt=""> Good (11)</th>
                <th class="excellent"><img src="../../../assets/happy.png" width="25px" alt=""> Excellent (11)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                
                
                
              
            </tr>
            <tr>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
              
            </tr>
            <tr>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
    
            </tr>
            <tr>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                
          
            </tr>
            <tr>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
            </tr>
            <tr>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
                <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
                </td>
            </tr>
            <tr>
              <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
              </td>
              
          </tr>
          <tr>
            <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
            </td>
            
        </tr>
        <tr>
          <td class="clearfix"><span class="float-left">joey</span> <span class="float-right">1.5</span>
          </td>
          
      </tr>
        </tbody>
    </table>
</div>