<!-- <br> -->
        <div class="container">
        <div class=" d-flex justify-content   ">
            <div class="bg p-4 ">
                <div class="d-flex justify-content-end ">
                    <div class="p-2">
                        <img class="emoji" width="50" src="../../../assets/redEmoji.svg" alt="emoji"><span class="number pb-2 pr-4 p-1 pl-4">11</span>
                    </div><div class="p-2">
                        <img class="emoji" width="50" src="../../../assets/greenEmoji.svg" alt="emoji"><span class="number pb-2 pr-4 p-1 pl-4">11</span>
                    </div><div class="p-2">
                        <img class="emoji" width="50" src="../../../assets/yellowEmoji.svg" alt="emoji"><span class="number pb-2 pr-4 p-1 pl-4">11</span>
                    </div>
                    
                </div>
            </div>
        </div>