<div class="col ">
<div class="table-responsive">
    <table class="table table-borderless  ">
        <tbody>
            <tr>
                <td>Context Statistics <small style="display: block;">50 students</small></td>
                <td><img class="emoji" width="14px"  height="18px" src="../../../assets/person-fill.svg" alt="emoji">11<small style="display: block;">0</small></td>
                <td> <img class="emoji" width="14px"  height="18px" src="../../../assets/person-fill.svg" alt="emoji">11<small style="display: block;">1-20%</small></td>
                <td><img class="emoji" width="14px"  height="18px" src="../../../assets/person-fill.svg" alt="emoji">11<small style="display: block;">21-40%</small></td>
                <td><img class="emoji" width="14px"  height="18px" src="../../../assets/person-fill.svg" alt="emoji">11<small style="display: block;">41-60%</small></td>
                <td><img class="emoji" width="14px"  height="18px" src="../../../assets/person-fill.svg" alt="emoji">06<small style="display: block;">61-80%</small></td>
                <td><img class="emoji" width="14px"  height="18px" src="../../../assets/person-fill.svg" alt="emoji">05<small style="display: block;">81-100%</small></td>
            </tr>
        </tbody>
    </table>
</div>
</div>