<div class="container">

    <div class=" col-md-8 float-center ml-5 p-4">
        <div class="">
        <div class="d-flex p-2">
            <div class="col col-lg-11 col-md-11 col-sm-11  float-left">Students Attended</div>
            <div class="col col-lg-11 col-md-11 col-sm-11 float-right">48/50</div>

        </div>

        <div class="progress float-center prg ml-4">
            <div class="progress-bar prg bg rounded-pill" style="width: 18%">

            </div>
            <div class="progress-bar prg bg ml-1 rounded-pill" style="width: 18%">

            </div>
            <div class="progress-bar prg bg ml-1 rounded-pill" style="width:18%">

            </div>
            <div class="progress-bar prg bg ml-1 rounded-pill" style="width:18%">

            </div>
            <div class="progress-bar prg bg ml-1 rounded-pill" style="width: 18%">

            </div>
            <div class="progress-bar prg bg ml-1 rounded-pill" style="width:0%">
              </div>
            </div>
            </div>
        </div>
        </div>


