<div class="container-fluid">

    <!-- <div  class="panel"> -->
       <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="row ml-5">

                    <div class="container ml-5">
                        <div class="col ml-5">
                        <div class="d-flex justify-content ml-5 brd">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item">09</li>
                                  <li class="breadcrumb-item active" aria-current="page">Social Science</li>
                                </ol>
                              </nav>
                    </div>
                </div>
                </div>
                </div>
            </div>

            <div class="col-lg-6 float-center">
                <div class="row ">
                    <app-mark-statistics></app-mark-statistics>
                </div>
                <div class="row"></div>

            </div>


                    <div class="col-lg-6">
    <app-progress-bar ></app-progress-bar>
</div>
<div class="col-lg-4">
    <app-overall-percentage></app-overall-percentage>
</div>

                <div class="row ">
                    <div class="container ml-5">
                    <div class="d-flex justify-content-start
                     ml-5">

    <app-emoji></app-emoji>
</div>
                </div>
                </div>




        <!-- </div> -->
